<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1727.9999313354492, 1466}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2016-03-18 18:52:59 +0000</string>
	<key>Creator</key>
	<string>Diego Zuluaga</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{956.72607421875, 150.40718078613281}, {55, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>34</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 delete file}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{913.363037109375, 141}, {35, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>33</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 4}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>10</integer>
			</dict>
			<key>ID</key>
			<integer>32</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>12.246964454650879</real>
			<key>Points</key>
			<array>
				<string>{913.98689447200832, 228.5939271886962}</string>
				<string>{955.363037109375, 171}</string>
				<string>{971, 222.00013732910156}</string>
				<string>{926.76112524859036, 255.62005719046354}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.206073</string>
						<key>g</key>
						<string>0.554247</string>
						<key>r</key>
						<string>0.217493</string>
					</dict>
					<key>CornerRadius</key>
					<real>6</real>
					<key>HeadArrow</key>
					<string>UMLInheritance</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{819.99713212574943, 418.49999997041164}, {87.005744934082031, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>31</integer>
			<key>Rotation</key>
			<real>270.65853881835938</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.224239</string>
						<key>g</key>
						<string>0.777083</string>
						<key>r</key>
						<string>0.124461</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0980392</string>
						<key>g</key>
						<string>0.0980392</string>
						<key>r</key>
						<string>0.0980392</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 use}</string>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{384.35004128426499, 423.000004727261}, {365.29989624023438, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>30</integer>
			<key>Rotation</key>
			<real>211.34033203125</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.224239</string>
						<key>g</key>
						<string>0.777083</string>
						<key>r</key>
						<string>0.124461</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0980392</string>
						<key>g</key>
						<string>0.0980392</string>
						<key>r</key>
						<string>0.0980392</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 use}</string>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>TextRotation</key>
			<real>180</real>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{738.363037109375, 498}, {188, 233}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>29</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 config.son\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\b0\fs20 \cf0 \{\
  "org": \{\
    "name": "sample_org",\
    "mgmt_api_url": "https://\{hostname\}/v1",\
    "username": "apigeeusername",\
    "password": "password",\
    "nucleus_url": "https://nucleus-api-prod.apigee.com/edge/files"\
  \}\
\}}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{408.36090087890625, 15.998626708984375}, {651, 42}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>36</real>
			</dict>
			<key>ID</key>
			<integer>28</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs72 \cf0 apigee-nucleus-cli Export Traffic Flow}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{682.86090087890625, 228.00013732910156}, {102, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>27</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 retrieve JSON file}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRotation</key>
			<real>45</real>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{648.363037109375, 155.99945163726807}, {35, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>26</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 3.a}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{578.46960086117156, 301.85982704162598}, {69, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>25</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 pipe stream}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{538.363037109375, 291.85982704162598}, {35, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>24</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 2.b}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{416.94539692841408, 288.85983166191966}, {353.41973876953125, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>23</integer>
			<key>Rotation</key>
			<real>359.72122192382812</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.224239</string>
						<key>g</key>
						<string>0.777083</string>
						<key>r</key>
						<string>0.124461</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0980392</string>
						<key>g</key>
						<string>0.0980392</string>
						<key>r</key>
						<string>0.0980392</string>
					</dict>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{443.57616461296811, 190}, {102, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>21</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 store JSON file}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRotation</key>
			<real>320</real>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{267.1815185546875, 469}, {113, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>20</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 pull message count \
in JSON format}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{1003.363037109375, 277}, {86, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>19</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 transmit file to}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{960.363037109375, 264}, {35, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>18</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 3}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{427.363037109375, 219.50013732910156}, {35, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>17</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 2.a}</string>
			</dict>
			<key>TextRotation</key>
			<real>320</real>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{302.1815185546875, 429.31793968446283}, {35, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>16</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{220.5, 567.63584129579067}, {196, 422.36416625976562}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>15</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Mgmt. API\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\b0 \cf0 /v1/o/\{org_name\}/e/\{env\}/stats/select=sum(message_count)&amp;timeRange\

\b \
Sample payload:
\b0 \
\{\
  "environments" : [ \{\
    "metrics" : [ \{\
      "name" : "sum(message_count)",\
      "values" : [ \{\
        "timestamp" : 1457913600000,\
        "value" : "7597.0"\
      \}, \{\
        "timestamp" : 1457308800000,\
        "value" : "114.0"\
      \}, \{\
        "timestamp" : 1456704000000,\
        "value" : "14.0"\
      \} ]\
    \} ],\
    "name" : "test"\
  \} ]\
  \}}</string>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{227.94784465448109, 426.31791986856439}, {182.64886474609375, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>14</integer>
			<key>Rotation</key>
			<real>90.684349060058594</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.224239</string>
						<key>g</key>
						<string>0.777083</string>
						<key>r</key>
						<string>0.124461</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0980392</string>
						<key>g</key>
						<string>0.0980392</string>
						<key>r</key>
						<string>0.0980392</string>
					</dict>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{948.36304900796267, 263.99999898323188}, {152.99998474121094, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>13</integer>
			<key>Rotation</key>
			<real>7.615232675561856e-07</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.224239</string>
						<key>g</key>
						<string>0.777083</string>
						<key>r</key>
						<string>0.124461</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0980392</string>
						<key>g</key>
						<string>0.0980392</string>
						<key>r</key>
						<string>0.0980392</string>
					</dict>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{1110.363037109375, 226}, {210, 109}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>12</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Apigee Nucleus API Resource \
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\b0 \cf0 e.g. orgname-env-traffic-datetime-UTC.json}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{634.82752902390712, 202.00000000345491}, {166.70797729492188, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>11</integer>
			<key>Rotation</key>
			<real>43.143703460693359</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.224239</string>
						<key>g</key>
						<string>0.777083</string>
						<key>r</key>
						<string>0.124461</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0980392</string>
						<key>g</key>
						<string>0.0980392</string>
						<key>r</key>
						<string>0.0980392</string>
					</dict>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{785.363037109375, 229}, {141, 161}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>10</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Nucleus Traffic Resource\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\b0 \cf0 NPM\
\
apigee-traffic transfer\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\b \cf0 \
params:\

\b0 - filename
\b \

\b0 - delete: delete file after transfer}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{403.44765899657676, 182.49999808761092}, {170.23405456542969, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>9</integer>
			<key>Rotation</key>
			<real>321.05703735351562</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.224239</string>
						<key>g</key>
						<string>0.777083</string>
						<key>r</key>
						<string>0.124461</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0980392</string>
						<key>g</key>
						<string>0.0980392</string>
						<key>r</key>
						<string>0.0980392</string>
					</dict>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{567.33724975585938, 107}, {86, 93}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>22</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{202, 550.16028682954311}, {233, 457.8397216796875}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{245.1815185546875, 150.59359741210938}, {149, 187.40640258789062}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AmericanTypewriter;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Traffic Collector\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\b0 \cf0 NPM\
e.g.\
apigee-nucleus extract traffic\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\b \cf0 params: 
\b0 \

\fs20 - timerange (default \
current month)\
- org (default registered)\
- env (default registered)}</string>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>3</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2016-03-21 20:40:45 +0000</string>
	<key>Modifier</key>
	<string>Diego Zuluaga</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{611.99997711181641, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSPrinter</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAlOU1ByaW50ZXIAhIQITlNPYmplY3QAhZKEhIQITlNTdHJpbmcBlIQBKxJDYW5vbiBNWDQ3MCBzZXJpZXOGhg==</string>
		</array>
		<key>NSPrinterName</key>
		<array>
			<string>string</string>
			<string>Canon MX470 series</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>2</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{315, 97}, {1440, 839}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{112, 0}, {1305, 697}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
